* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(1, 1, 1);
    background-image: linear-gradient(rgba(206, 17, 67, 0.882), rgb(0, 0, 0, 0.5));
    color: white;
    transition: background-color 500ms ease;
  } 
  h1 {
      font-size: 3rem;
      font-weight: 600;
      top: 0;
      text-align: center;
      color: #fff;
      background: linear-gradient(45deg, #f3ec78, #af4261);
      padding: 1rem;
      position: absolute;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      margin: 2rem auto;
      width: top;
      transition: transform 0.3s, box-shadow 0.3s;
  }
  
  h1:hover {
    transform: translate(-50%, -10px) scale(1.05) rotate(-2deg);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
    background: linear-gradient(45deg, #f3ec78, #ff9a8b);
}

/* Adding an optional active effect for click feedback */
h1:active {
    transform: translate(-50%, -5px) scale(0.98);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
  .container {
    position: relative;
    width: min(400px, 100%);
    height: 30rem;
  } 
  ul {
    list-style: none;
    width: 100%;
    height: 50%;
    position: relative;
    perspective: 900px;
    transform-style: preserve-3d;
  }
  ul > li {
    position: absolute;
    left: 50%;
    top: calc(50% - 1.2rem);
    --rotateX: calc(
      1deg * var(--rotateDegrees) * calc(var(--day_idx) - var(--currentDay))
    );
    transform: rotateX(var(--rotateX)) translateZ(190px) translateX(-50%)
      scale(var(--scale, 1));
    --hue: calc(var(--rotateDegrees) * var(--day_idx));
    background-color: hsl(var(--hue), 50%, var(--lightness, 50%));
    width: 70%;
    color: white;
    display: grid;
    grid-template-columns: 2.5rem auto;
    height: 1.9rem;
    transition: transform 500ms ease, background-color 500ms ease;
  }
  ul > li.active {
    --lightness: 30%;
    --scale: 1.1;
  }
  ul > li > * {
    display: grid;
    align-items: center;
  }
  li > time {
    text-align: center;
  }
  li > span {
    padding-inline-start: 0.5rem;
    color: white;
  } 
  .controls {
    position: relative ;
    top: 0%;
    left: 100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
  }
  .controls button {
    width: 5rem;
    height: 5rem;
    font-size: 1.2rem;
    color: #fff;
    border: black;
    background: linear-gradient(145deg, #3a7bd5, #3a6073);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

  .border {
    width: 96%;
    height: 3em;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }